{% extends 'core/base.html' %}

{% block title %}Pagar{% endblock %}

{% block content %}
    <div class="container mx-auto my-10">
        <h1 class="text-3xl font-semibold mb-6">Detalles de Pago</h1>

        <!-- Formulario de facturación y detalles de pago -->
        <form method="post" action="{% url 'item:procesar_pago' %}">
            {% csrf_token %}

            <!-- Campos de información de facturación (ajusta según tus necesidades) -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>

            <!-- Otros campos de información de facturación... -->

            <!-- Detalles de pago (por ejemplo, tarjeta de crédito) -->
            <label for="tarjeta">Número de Tarjeta:</label>
            <input type="text" id="tarjeta" name="tarjeta" required>

            <label for="caducidad">Fecha de Caducidad:</label>
            <input type="text" id="caducidad" name="caducidad" placeholder="MM/AA" required>

            <!-- Otros campos relacionados con el pago... -->

            <!-- Botón de enviar -->
            <button type="submit" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Pagar
            </button>
        </form>
    </div>

    <script>
        // Agrega este script para cambiar la acción del formulario después de enviar
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector('form');
            form.addEventListener('submit', function () {
                form.action = "{% url 'item:pago_exitoso' %}";
            });
        });
    </script>
{% endblock %}
